# Editor config files
.vs
.vscode

# Python directories
__pycache__

# CMake build directories
build*

# Data files and build outputs
*.gputl
*.log
*.so

# Build and debug output files
/.cache
/bin*
/log*
/x_*
