# Editor config files
.vs
.vscode

# Python directories
__pycache__
pve

# CMake build directories
build*

# Data files and build outputs
*.log
*.metadata
*.perfetto
*.so

# Build and debug output files
/.cache
/.mypy_cache
/bin*
/log*
/x_*
