[submodule "khronos/vulkan"]
	path = source_third_party/khronos/vulkan
	url = https://github.com/KhronosGroup/Vulkan-Headers
[submodule "source_third_party/gtest"]
	path = source_third_party/gtest
	url = https://github.com/google/googletest
[submodule "source_third_party/protopuf"]
	path = source_third_party/protopuf
	url = https://github.com/PragmaTwice/protopuf.git
[submodule "source_third_party/khronos/vulkan-utilities"]
	path = source_third_party/khronos/vulkan-utilities
	url = https://github.com/KhronosGroup/Vulkan-Utility-Libraries/
[submodule "source_third_party/libGPUCounters"]
	path = source_third_party/libGPUCounters
	url = https://github.com/ARM-software/libGPUCounters.git
